/* @import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
} */
.container {
  background-color: var(--color-secondary);
  color: var(--color-text);
  padding: 40px;
  margin-top: 120px;

  text-align: center;
}

.text h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.text p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.text .email {
  color: #aae2e9; /* Red email link */
  text-decoration: none;
  font-weight: bold;
}

.text .email:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input,
.textarea {
  width: 80%;
  max-width: 600px;
  margin: 10px 0;
  padding: 15px;
  font-size: 1rem;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
}

.input::placeholder,
.textarea::placeholder {
  color: #ccc;
}

.textarea {
  height: 150px;
  resize: none;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0662f5; /* Red on hover */
  color: #fff;
}
